.cards-container {
    margin-top: 150px;
    margin-bottom: 120px;
    text-align: center;
}

.card {
    min-width: 320px;
    margin-bottom: 25px !important;
}

.titulo-pagina-principal {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 25px;
}

.card-img-top {
    margin-top: 13px;
    height: 320px;
    border-radius: 15px;
}

.card {
    text-align: justify;
}

.titulo {
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: bold;
}

.modal-body {
    text-align: justify;
}

.btn-leia-mais {
    margin-bottom: 25px;
    color: #FFFFFF;
    background-color: #81AE86;
}
